.SlotMachine {
    border: 2px solid black;
    background: #85BB65;
    display: inline-block;
    text-align: center;
}

.SlotMachine-winner {
    background: green;
    color: white;
}

.SlotMachine-loser {
    background: red;
    color: white;
}
